
  <div id ="center-left">
    <div class="Menu_item">
      <p class="menu-mon-an">CƠM GÀ</p>
      <p class="menu-mon-an">MỲ Ý</p>
      <p class="menu-mon-an">GÀ SỐT BƠ TỎI & THẢO MỘC </p>
      <p class="menu-mon-an">COMBO GÀ RÁN (1 NGƯỜI) </p>
      <p class="menu-mon-an">COMBO GÀ RÁN (2 NGƯỜI) </p>
      <p class="menu-mon-an">COMBO GIA ĐÌNH & BẠN BÈ </p>
      <p class="menu-mon-an">COMBO TIẾT KIỆM </p>
      <p class="menu-mon-an">SET GÀ CÓ XƯƠNG</p>
      <p class="menu-mon-an">CÁC MÓN GÀ RÁN</p>
      <p class="menu-mon-an">BURGER</p>
      <p class="menu-mon-an">BÁNH CUỘN</p>
      <p class="menu-mon-an">CÁC MÓN ĂN KÈM</p>
    </div>
  </div>

